.welcome-text{
    color:#EDE9DE;
}
.button-bottom{
    -fx-background-radius:20;
    -fx-background-color:RGBA(152,111,1,0.3);
}
.meal-item{
    -fx-padding:15px;
    -fx-border-style: solid;
    -fx-border-color: #FFF;
    -fx-border-width: 2px;
}
.cuisine-selection{
    -fx-border-style: solid;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
}
.side-pane{
    -fx-background-color:#000000;
}
.button-side{
    -fx-background-radius:20;
    -fx-background-color:RGBA(255,219,131,1);
    -fx-text-fill:#000000;
}

.cart-item-button {
  -fx-text-fill: #8a2b06;
  -fx-border-style: solid;
  -fx-border-color: #8a2b06;
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-background-color: transparent;
}

.cart-item-button:hover,
.cart-item-button:active {
  -fx-background-color: #8a2b06;
  -fx-text-fill: white;
}
